body {
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

nav {
    padding: 10px 40px;
    border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 0;
    display: flex;
    gap: 40px;
}

ul a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

li.logo {
    margin-right: auto;
}

.first-container{
    display: flex;
    background-color: #1F2937;
    padding: 80px 40px;

}

.first-image{
    max-width: 50%;
}

.awesome{
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

button{
    margin-top: 5px;
    width: 20%;
    background-color: #3882f6;
    border-style: none;
    padding: 5px;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;
}

.columns{
    display: flex;
    gap: 20px;
    padding: 0px 180px 80px 180px;
}

.card{
    flex-grow: 1;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.random{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin: 0;
    padding: 40px;
}

.card-image{
    border-radius: 10px;
}

.card-text{
    text-align: center;
}

.third-container{
    background-color: #e5e7eb;
    padding: 80px 220px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.sign{
    text-align: end;
    margin-top: 0;
}

